In [1]:
# Q1: Given the string below, extract the word "morning" using slicing.
text = "Good morning, have a nice day!"
# solution
text[5:12]

'morning'

In [2]:
# Q2: Given the string below, reverse the entire string using slicing.
text = "Python is powerful"
# solution
text[::-1]

'lufrewop si nohtyP'

In [3]:
# Q3: Given the string below, extract only the word "Data" using slicing.
text = "Learn Data Science with fun!"
# solution
text[6:10]

'Data'

In [4]:
# Q4: Given the string below, extract the word "World" using slicing.
text = "Hello World!"
# solution
text[6:11]

'World'

In [5]:
# Q5: Given the string below, extract the word "thon" using slicing.
text = "Python Programming"
# solution
text[2:6]

'thon'

In [6]:
# Q6: Given the string below, extract the last 5 characters using slicing.
text = "Machine Learning"
# solution
text[-5:]

'rning'

In [7]:
# Q7: Given the string below, extract every alternate character starting from the 2nd character.
text = "DataScience"
# solution
text[::2]

'DtSine'

In [8]:
# Q8: Given the string below, extract the characters from index 3 to 8 using slicing.
text = "Artificial Intelligence"
# solution
text[3:9]

'ificia'

In [9]:
# Q9: Given the string below, extract the characters from the beginning till index 4 (excluding index 4).
text = "DeepLearning"
# solution
text[:4]

'Deep'

In [10]:
# Q10: Given the string below, extract the string in reverse order, but only for the first 6 characters.
text = "Programming"
# solution
text[6::-1]

'margorP'

In [11]:
# Q11: Given the string below, extract the characters from index 2 to the second last index.
text = "SuperCoder"
# solution
text[2:-1]

'perCode'

In [12]:
# Q12: Given the string below, extract the last 3 characters in reverse order.
text = "DataScience"
# solution
text[-1:-4:-1]

'ecn'

In [13]:
# Q13: Given the string below, extract the middle 4 characters.
text = "MachineLearning"
# solution
text[6:11]

'eLear'

In [14]:
# Q14: Given the string below, extract the first 5 characters and the last 5 characters.
text = "ArtificialIntelligence"
# solution
text[:5]
text[-6:-1]

'igenc'

In [15]:
# Q15: Given the string below, extract every third character starting from index 1.
text = "MachineLearning"
# solution
text[1::3]

'aiLrn'

In [16]:
# Q16: Given the string below, extract the string "Intelligence" without using any loop.
text = "ArtificialIntelligence"
# solution
text[10:]

'Intelligence'

In [17]:
# Q17: Given the string below, extract the substring "Science" using slicing.
text = "DataScience"
# solution
text[4:]

'Science'

In [18]:
# Q18: Given the string below, extract every alternate character starting from index 2 to 10.
text = "MachineLearning"
# solution
text[2:11:2]

'cieer'

In [19]:
# Q19: Given the string below, extract the first 3 characters and the last 3 characters together using slicing.
text = "Superstar"
# solution
x=text[:3] #sup
y=text[6:] #tar
print(x+y)

Suptar

In [20]:
# Q20: Given the string below, extract the substring "gram" using slicing.
text = "Programming"
# solution
text[3:7]

'gram'

In [21]:
# Q21: Given the string below, extract every 2nd character from index 3 to index -3 (excluding index -3).
text = "UnderstandingPython"
# solution
text[3:-4:2]

'esadnP'

In [22]:
# Q22: Given the string below, reverse the substring from index 5 to 12 (inclusive).
text = "DataVisualization"
# solution
text[12:4:-1]

'azilausi'

In [23]:
# Q23: Given the string below, extract characters from the start till the second last character in reverse order.
text = "Development"
# solution
text[-2::-1]

'nempoleveD'

In [24]:
# Q24: Given the string below, extract the substring starting from index 4 up to 4th character from the end (excluding it).
text = "Technological"
# solution
text[4:-4]

'nolog'

In [25]:
# Q25: Given the string below, extract every 3rd character between index 2 and index -2.
text = "Implementation"
# solution
text[2:-2:3]

'pmti'

In [26]:
# Q26: Given the string below, reverse only the middle portion of the string (excluding first 2 and last 2 characters).
text = "Extraordinary"
# solution
# x=text[2:-2] #traordina
# text[5:8]
text[2:-2][::-1]  # first slicesed (first 2 idx) and (last 2 idx), then reversed the rest of idx

'anidroart'

In [27]:
# Given the string below, reverse the entire string using slicing.
text = "Python is powerful"
# solution
text[::-1]

'lufrewop si nohtyP'

In [28]:
# Q. Using slicing, extract a list of every second city starting from 'Mumbai' to 'Hyderabad' (inclusive).
cities = ['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bangalore', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur']
cities[1:6:2]

['Mumbai', 'Chennai', 'Hyderabad']

In [29]:
# Q26: Extract the last 4 elements in reverse order.
nums = [4, 8, 15, 16, 23, 42, 50, 60]
nums[-4:]

[23, 42, 50, 60]

In [30]:
# Q27: From the given list, extract every 2nd element starting from the 2nd last element up to the 2nd element (in reverse order).
values = [100, 200, 300, 400, 500, 600, 700, 800, 900]
values[-2:-7:-2]

[800, 600, 400]

In [31]:
# Q3: Extract every 2nd element starting from the second-last element to the second element (in reverse order).
values = [100, 200, 300, 400, 500, 600, 700, 800, 900]
values[7:0:-2]

[800, 600, 400, 200]

In [32]:
# Q4: Extract elements from index 2 to 7 (excluding 7) with step 2.
values = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
values[2:7:2]

[15, 25, 35]

In [33]:
# Q5: Extract the last 4 elements in reverse order.
values = [11, 22, 33, 44, 55, 66, 77, 88]
values[:3:-1]

[88, 77, 66, 55]

In [34]:
# Q6: Extract the first 5 elements but skip every 2nd element.
values = [1, 3, 5, 7, 9, 11, 13]
values[:5:2]

[1, 5, 9]

In [35]:
# Given the string below, extract the word "morning" using slicing.
text = "Good morning, have a nice day!"
# solution
text[5:12]

'morning'

In [ ]:
# Q. Using slicing, extract a list of every second city starting from 'Mumbai' to 'Hyderabad' (inclusive).
cities = ['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bangalore', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur']
cities[1:6:2]

In [36]:
# Q6: Extract the first 5 elements but skip every 2nd element.
values = [1, 3, 5, 7, 9, 11, 13]
values[:5:2]

[1, 5, 9]

In [1]:
# Given the string below, extract the first 5 characters and the last 5 characters.
text = "ArtificialIntelligence"
# solution
text[:5]
text[-6:-1]

'igenc'